.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  text-align: left;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #000000;
}
.home-text {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 900px;
  font-size: 45px;
  align-self: flex-start;
  text-align: center;
  font-family: Inter Tight;
  padding-top: 420px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 420px;
}
.home-text01 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 900px;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-family: Inter Tight;
  font-weight: 500;
  padding-top: 400px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 400px;
}
.home-hero {
  width: 100%;
  height: 900px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  max-width: 100%;
  align-self: center;
  min-height: 80vh;
  align-items: center;
  border-radius: 0px;
  flex-direction: row;
}
.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-container2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-text02 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  align-self: center;
  text-align: center;
}
.home-text03 {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-weight: 500;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-hero1 {
  width: 100%;
  height: 900px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  max-width: 100%;
  align-self: center;
  min-height: 80vh;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
}
.home-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}
.home-container3 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-text09 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  align-self: center;
  text-align: center;
}
.home-text10 {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-weight: 500;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-hero2 {
  width: 100%;
  height: 900px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  max-width: 100%;
  align-self: center;
  min-height: 80vh;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
}
.home-image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-container4 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-text16 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  align-self: center;
  text-align: center;
}
.home-text17 {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-weight: 500;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-text21 {
  color: #ffffff;
}
.home-hero3 {
  width: 100%;
  height: 900px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  max-width: 100%;
  align-self: center;
  min-height: 80vh;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
}
.home-image3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-container5 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-text24 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  align-self: center;
  text-align: center;
}
.home-text25 {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-weight: 500;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-hero4 {
  width: 100%;
  height: 900px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  max-width: 100%;
  align-self: center;
  min-height: 80vh;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: row;
  justify-content: flex-start;
}
.home-image4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-container6 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-text31 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  align-self: center;
  text-align: center;
}
.home-text32 {
  color: rgb(255, 255, 255);
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-weight: 500;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-footer {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
}
.home-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image5 {
  height: 2rem;
  object-fit: cover;
}
.home-text38 {
  color: rgb(255, 255, 255);
  align-self: center;
  padding-left: var(--dl-space-space-fourunits);
}
@media(max-width: 1600px) {
  .home-text {
    height: 900px;
    padding-top: 420px;
    padding-bottom: 420px;
  }
  .home-text01 {
    height: 900px;
    padding-top: 390px;
    padding-bottom: 390px;
  }
  .home-footer {
    height: 100%;
  }
  .home-text38 {
    align-self: center;
    padding-left: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 1200px) {
  .home-text {
    height: 900px;
    padding-top: 420px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 420px;
  }
  .home-text01 {
    width: 100%;
    height: 900px;
    padding-top: 355px;
    padding-bottom: 355px;
  }
  .home-hero {
    height: auto;
  }
  .home-image {
    width: 750px;
    align-self: center;
  }
  .home-container2 {
    height: 100%;
  }
  .home-text03 {
    width: 100%;
  }
  .home-hero1 {
    height: auto;
  }
  .home-image1 {
    width: 750px;
    align-self: center;
  }
  .home-container3 {
    align-self: center;
  }
  .home-text09 {
    align-self: center;
  }
  .home-text10 {
    align-self: center;
  }
  .home-hero2 {
    height: auto;
  }
  .home-image2 {
    width: 750px;
  }
  .home-container4 {
    align-self: center;
  }
  .home-text16 {
    align-self: center;
  }
  .home-text17 {
    align-self: center;
  }
  .home-hero3 {
    height: auto;
  }
  .home-image3 {
    width: 750px;
    align-self: center;
  }
  .home-container5 {
    height: auto;
    align-self: center;
  }
  .home-text24 {
    align-self: center;
  }
  .home-text25 {
    align-self: center;
  }
  .home-image4 {
    width: 750px;
    align-self: center;
  }
  .home-container6 {
    height: auto;
    align-self: center;
  }
  .home-text31 {
    align-self: center;
  }
  .home-text32 {
    align-self: center;
  }
  .home-footer {
    height: 100%;
  }
  .home-text38 {
    align-self: center;
    padding-left: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 991px) {
  .home-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-text {
    width: 100%;
    height: 900px;
    padding-top: 424px;
    padding-bottom: 424px;
  }
  .home-text01 {
    height: auto;
    padding-top: 395px;
    padding-bottom: 395px;
  }
  .home-hero {
    height: auto;
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-image {
    width: 100%;
  }
  .home-container2 {
    margin: var(--dl-space-space-twounits);
    align-items: center;
  }
  .home-text02 {
    text-align: center;
  }
  .home-text03 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .home-hero1 {
    height: auto;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-image1 {
    width: 100%;
  }
  .home-container3 {
    margin: var(--dl-space-space-twounits);
    align-items: center;
  }
  .home-text09 {
    text-align: center;
  }
  .home-text10 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .home-hero2 {
    height: auto;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-image2 {
    width: 100%;
  }
  .home-container4 {
    margin: var(--dl-space-space-twounits);
    align-items: center;
  }
  .home-text16 {
    text-align: center;
  }
  .home-text17 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .home-hero3 {
    height: auto;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-image3 {
    width: 100%;
  }
  .home-container5 {
    margin: var(--dl-space-space-twounits);
    align-items: center;
  }
  .home-text24 {
    text-align: center;
  }
  .home-text25 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .home-hero4 {
    height: auto;
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-image4 {
    width: 100%;
  }
  .home-container6 {
    margin: var(--dl-space-space-twounits);
    align-items: center;
  }
  .home-text31 {
    text-align: center;
  }
  .home-text32 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
  .home-footer {
    height: 100%;
  }
  .home-container7 {
    width: auto;
    justify-content: flex-start;
  }
  .home-image5 {
    width: 12%;
    height: auto;
  }
  .home-text38 {
    align-self: center;
    padding-left: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .home-text {
    width: 100%;
    height: 900px;
    padding-top: 424px;
    padding-bottom: 424px;
  }
  .home-text01 {
    padding-top: 337px;
    margin-bottom: 0px;
    padding-bottom: 337px;
  }
  .home-hero {
    height: auto;
    padding: var(--dl-space-space-twounits);
  }
  .home-image {
    width: 100%;
  }
  .home-hero1 {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
  .home-image1 {
    width: 100%;
  }
  .home-hero2 {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
  .home-image2 {
    width: 100%;
  }
  .home-hero3 {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
  .home-image3 {
    width: 100%;
    height: auto;
  }
  .home-hero4 {
    height: auto;
    padding: var(--dl-space-space-unit);
  }
  .home-image4 {
    width: 100%;
  }
  .home-container6 {
    margin: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding: var(--dl-space-space-twounits);
  }
  .home-container7 {
    width: 100%;
    justify-content: flex-start;
  }
  .home-image5 {
    flex: 0;
    width: 7%;
    height: auto;
    align-self: flex-start;
  }
  .home-text38 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 375px) {
  .home-text {
    width: 100%;
    height: auto;
    align-self: center;
    padding-top: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 300px;
  }
  .home-text01 {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-threeunits);
  }
  .home-hero {
    padding: var(--dl-space-space-unit);
  }
  .home-image {
    width: 100%;
    height: auto;
  }
  .home-container2 {
    width: auto;
    height: auto;
    margin: var(--dl-space-space-threeunits);
    padding-top: 0px;
  }
  .home-text02 {
    align-self: center;
    padding-top: 0px;
  }
  .home-text03 {
    margin: var(--dl-space-space-twounits);
    padding-left: 00px;
    padding-right: 00px;
  }
  .home-hero1 {
    padding: var(--dl-space-space-unit);
  }
  .home-image1 {
    width: 100%;
    height: auto;
  }
  .home-container3 {
    margin: var(--dl-space-space-twounits);
  }
  .home-text10 {
    margin: var(--dl-space-space-twounits);
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-hero2 {
    padding: var(--dl-space-space-unit);
  }
  .home-image2 {
    width: 100%;
    height: auto;
  }
  .home-container4 {
    margin: var(--dl-space-space-twounits);
    padding-top: 0px;
  }
  .home-text17 {
    margin: var(--dl-space-space-twounits);
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-hero3 {
    padding: var(--dl-space-space-unit);
  }
  .home-image3 {
    width: 100%;
    height: auto;
  }
  .home-container5 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text25 {
    margin: var(--dl-space-space-twounits);
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-hero4 {
    height: 100%;
    padding: var(--dl-space-space-unit);
  }
  .home-image4 {
    width: 100%;
    height: auto;
  }
  .home-container6 {
    margin: var(--dl-space-space-twounits);
    padding-top: 0px;
  }
  .home-text32 {
    margin: var(--dl-space-space-twounits);
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-footer {
    height: 100%;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-container7 {
    width: auto;
    height: 100%;
    align-self: center;
    margin-bottom: 0px;
  }
  .home-image5 {
    flex: 0;
    width: 10%;
    height: auto;
    align-self: flex-start;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-text38 {
    font-size: 12px;
    align-self: center;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 45%;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
