.features-features {
  width: 100%;
  height: 100%;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.features-main {
  color: #ffffff;
  align-self: center;
  text-align: center;
}
@media(max-width: 1600px) {
  .features-main {
    font-size: 20px;
  }
}
@media(max-width: 1200px) {
  .features-main {
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .features-features {
    padding: 5px;
  }
  .features-main {
    font-size: 15px;
  }
}
@media(max-width: 479px) {
  .features-main {
    font-size: 13;
  }
}
