<div>
  <link href="./intro.css" rel="stylesheet" />
  <div class="intro-hero">
    <img
      src="public/2.103-1500h.webp"
      alt="image"
      loading="eager"
      class="intro-image"
    />
    <div class="intro-container">
      <div class="intro-container1">
        <div class="intro-heading">
          <h1 class="intro-header HeadingSmall">
            <span>Unrivaled Affordability</span>
          </h1>
          <h1 class="intro-header1 Text">
            <span>
              We understand the importance of accessibility for all enthusiasts.
              Our ultraflow is designed to be accessible to a wide range of
              users without compromising on essential features. Through the
              utilization of optimized manufacturing methods that necessitate no
              investment in tooling, enabling on-demand processing, and
              leveraging cost-effective materials we've achieved an
              unprecedented level of affordability without sacrificing quality.
            </span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
